/* GENERAL STYLING */

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-size: 16px;
    color: #242526;
}

body{
    background-color: #e9e6dd;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


/* DESKTOP NAV BAR STYLING*/

header{
    padding: 0 30px;
}

.empty-area{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    height: 30px;
    padding: 30px;
}

.desktop-nav{
    display: flex;
    justify-content: space-between;
    height: 100px;
    align-items: center;
    font-weight: 900;
    border-top: 1.5px solid #242526;
}

.desktop-other-nav{
    display: flex;
    justify-content: space-between;
    height: 100px;
    align-items: center;
    font-weight: 700;
    border-top: 1.5px solid #242526;
}

.nav-container{
    display: flex;
    gap: 30px;
}

.logo li{
    font-size: 2rem;
    font-weight: 900;
}

/* MAIN STYLING*/

.title-text-container{
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.toggle-dark-mode{
    position: absolute;
    right: 0;
    top: 0;
    padding: 30px;
}

.title-text-container h1{
    font-size: 6rem;
    letter-spacing: 5px;
    font-weight: 900;
    text-transform: uppercase;
}

#switch{
    color: black;
    padding: 5px;
    cursor: pointer;
}

.title-info-container{
    padding: 30px;
    display: flex;
}

.title-info, .title-details{
    font-size: 0.8rem;
    letter-spacing: 1px;
}

.title-info img{
    height: 10px;
    filter: brightness(20%);
}


.title-details-container{
    display: flex;
    width: 52.426%;
    justify-content: center;
    letter-spacing: 3px;
}

.location{
    width: 23.496%
}


.linkedin{
    width: 23.742%;
    text-align: right;
}

.banner-container{
    padding: 8px;
}

.banner{
    background-image: url(../images/homepage-banner.jpg);
    height: 550px;
    padding: 5px;
    background-size: cover;
}

.icon-grid img{
    height: 80px;
    filter: brightness(20%);
}